<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ course_name }} - CT Marks</title>
</head>
<body>
    <h1>CT Marks for {{ course_name }}</h1>
    <table border="1">
        <tr>
            <th>Test Name</th>
            <th>Marks</th>
        </tr>
        {% for test in ct_marks %}
        <tr>
            <td>{{ test['test_name'] }}</td>
            <td>{{ test['marks'] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
