<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
</head>
<body>
    
    <div class="container">
        <h1>Reset Password</h1>
        <form method="POST" action="{{ url_for('reset_password', token=token) }}">
            <label for="password">New Password</label>
            <input type="password" id="password" name="password" required>
            <label for="confirm_password">Confirm New Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" required>
        {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul>
                        {% for category, message in messages %}
                            <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
        {% endwith %}
            <button type="submit">Submit</button>
        </form>
        <p><a href="{{url_for('login')}}">Back to Login</a></p>
</body>
</html>


